---
interface Props {
  date: Date
  className?: string
}

const { date, className = '' } = Astro.props
const formattedDate = date.toLocaleDateString('zh-CN', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit'
})
const [year, month, day] = formattedDate.split('/')
---

<time class=` text-neutral-500 ${className} ` datetime={date.toISOString()}>
  <span>{year}</span>
  <span class="dot"></span>
  <span>{month}</span>
  <span class="dot">.</span>
  <span>{day}</span>
</time>

<style>
  .dot {
    @apply rounded-full inline-block bg-neutral-500 w-1 h-1 align-middle;
  }
</style>
